{% extends "base.html" %}
{% block content %}
{% load static %}
    {% for t in tutorial %}
    <container class="container-fluid p-5">
      <div class="card mb-5 ">
        <img src="{{ t.image.url}}"  class="card-img-top img-fluid border border-2 border-bottom-0 rounded" alt="...">
        <div class="card-body mt-3">
          <h5 class="card-title font-change">{{ t.title }}</h5>
          <p class="card-text"> {{ t.description }}</p>
          <a href="{% url 'tutorial-detail' t.id%}" class="btn btn-secondary mb-2">Read more</a>
          <p class="card-text"><small class="text-muted">Made in: {{ t.created_on }}</small></p>
        </div>
      </div>
    </container>
              {% endfor %}
{% endblock content %}